## Домашняя работа. Pandas

1. Скачайте этот ноутбук к себе.
2. Заполните пропущенные ячейки, отвечая на заданные вопросы. Там должен быть код! (если не сказано обратное)
3. Сохраните результат в своём гитхаб репозитории.

#### Полезная литература

- http://pandas.pydata.org/pandas-docs/stable/10min.html
- https://pandas.pydata.org/pandas-docs/stable/indexing.html
- https://pandas.pydata.org/pandas-docs/stable/missing_data.html

В этом задании мы с вами рассмотрим датасет [Adult Data Set](https://archive.ics.uci.edu/ml/datasets/Adult).
Основывается он на данных переписи населения 1994 года в США.

Расшифровка содержимого колонок:

- age: continuous. 
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked. 
- fnlwgt: continuous. sampling weight, more here: SIPP Weighting.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool. 
- education-num: continuous. 
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse. 
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces. 
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried. 
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black. 
- sex: Female, Male. 
- capital-gain: continuous. Income from investment sources, apart from wages/salary.
- capital-loss: continuous. Losses from investment sources, apart from wages/salary.
- hours-per-week: continuous. 
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
- income: Target feature. Binary.	Income >50K, <=50K.

In [1]:
import pandas as pd
pd.__version__ # 1.4.1

'2.2.2'

In [2]:
columns='age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income'.split(',')
df = pd.read_csv('data/adult.csv.gz', na_values='?') # можно загрузить из файла или URL
# df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', na_values='?', names=columns)
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,NaN,77053,HS-grad,9,Widowed,NaN,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,NaN,186061,Some-college,10,Widowed,NaN,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

1) Выведите последние 10 элеметнов датасета

In [ ]:
df[0:10]

2) Сколько колонок и сколько строк в этом датасете?

In [ ]:
print(f"Количество колонок: {df.shape[1]}")
print(f"Количество строк: {df.shape[0]}")

3) Какие типы данных у элементов этого датасета?

In [ ]:
df.dtypes

4) Какие признаки имеют пропуски?

In [ ]:
missing_columns = df.columns[df.isnull().any()]

print(f"Столбцы с пропусками: {missing_columns}")

5) Как вы думаете, с чем связаны пропуски этих значение. Напишите развернутый ответ в ячейке ниже.

Ваш ответ:Пропуски в данных могут быть вызваны различными причинами. Во-первых, люди могут отказываться отвечать на некоторые вопросы, что приводит к отсутствию данных. Во-вторых, некоторые люди могут не иметь опыта или знаний, которые необходимы для ответа на определенный вопрос, что также может привести к пропуску. Наконец, ошибки при сборе данных, такие как неполные формы или неправильно введенная информация, также могут создавать пропуски.

6) Какие и сколько различных рабочих классов workclass представлено в выборке?

In [ ]:
print("Уникальные рабочие классы:",  df['workclass'].unique())
print("Количество уникальных рабочих классов:", df['workclass'].nunique())

7) Какой средний возраст женщин и мужчин?

In [ ]:
df.groupby('sex')['age'].mean().round()

8) Постройте гистограмму(bar) распределения образования людей (education)

In [ ]:
import matplotlib.pyplot as plt

education_counts = df['education'].value_counts()

plt.figure(figsize=(10, 6))
plt.bar(education_counts.index, education_counts.values)
plt.xlabel('Уровень образования')
plt.ylabel('Количество людей')
plt.title('Распределение уровня образования')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

9) Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак salary) и тех, кто получает менее 50K в год?

In [ ]:
high_income = df[df['income'].str.strip().str.lower() == '>50k']['age']
low_income = df[df['income'].str.strip().str.lower() == '<=50k']['age']

high_income_mean = high_income.mean()
high_income_std = high_income.std()
low_income_mean = low_income.mean()
low_income_std = low_income.std()

print(f"Средний возраст людей с доходом >50K: {high_income_mean:.2f}")
print(f"Среднеквадратичное отклонение возраста людей с доходом >50K: {high_income_std:.2f}")
print(f"\nСредний возраст людей с доходом <=50K: {low_income_mean:.2f}")
print(f"Среднеквадратичное отклонение возраста людей с доходом <=50K: {low_income_std:.2f}")

10) Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education - Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)

In [ ]:
high_income = df[df['income'].str.strip().str.lower() == '>50k']

higher_education = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']

no_higher_education_high_income = high_income[~high_income['education'].isin(higher_education)]

print(f"Количество людей с доходом >50k, но без высшего образования: {len(no_higher_education_high_income)}")

11) Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status)? Женатыми считаем тех, у кого marital-status начинается с Married (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.

In [ ]:
men = df[df['sex'].str.strip() == 'Male']
print(f"men {len(men)}")

married_men = men[men['marital-status'].str.startswith(' Married')]
single_men = men[~men['marital-status'].str.startswith(' Married')]
print(f"single_men {len(single_men)}")
print(f"married_men {len(married_men)}")

if len(married_men) > 0:
  married_men_high_income_ratio = len(married_men[married_men['income'].str.strip().str.lower() == '>50k']) / len(married_men)
  print(f"Доля зарабатывающих >50k среди женатых мужчин: {married_men_high_income_ratio:.2%}")
else:
  print("В наборе данных нет женатых мужчин.")

if len(single_men) > 0:
  single_men_high_income_ratio = len(single_men[single_men['income'].str.strip().str.lower() == '>50k']) / len(single_men)
  print(f"Доля зарабатывающих >50k среди холостых мужчин: {single_men_high_income_ratio:.2%}")
else:
  print("В наборе данных нет холостых мужчин.")

12) Посчитайте среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для каждой страны (native-country).

In [ ]:
df['income'] = (df['income'] == '>50K').astype(int)
average_hours = df.groupby(['native-country', 'income'])['hours-per-week'].mean().round()
average_hours

13) Постройте сводную таблицу для сравнения уровня образования и разницы между capital.gain и capital.loss (то есть пассивный доход). Сделайте так, чтобы capital.gain - capital.loss создали не больше 10 разных уникальных значений. То есть, gain и loss - это числа в каком-то диапазоне. Это количественные признаки из вещественных чисел. С помощью математических функций, типа log, извлечение корня N-ой степени и округления можно перейти к категориальным признакам.

In [ ]:
import numpy as np
df['passive_income'] = df['capital-gain'] - df['capital-loss']
df['passive_income_category'] = np.round(np.log1p(df['passive_income'] + 1))

pivot_table = pd.pivot_table(df, values='passive_income_category', index='education', aggfunc=['count'])
pivot_table

14) Женщины из каких стран получают в среднем большую зарплату (>50K) чаще.

In [ ]:
women = df[df['sex'].str.strip() == 'Female']

high_income_women = women[women['income'].str.strip().str.lower() == '>50k']

country_counts = high_income_women.groupby('native-country').size()

sorted_counts = country_counts.sort_values(ascending=False)

print("Страны с наибольшим количеством женщин, зарабатывающих >50K:")
print(sorted_counts)

15) Создайте случайную колонку - magic_salary, которую нужно будет вычислить следующим образом: если зарплата небольшая (<50K), тогда случайно выберите число из диапазона [0,50]. Если зарплата выше 50K тогда из диапазона [51, 200]. Посчитайте среднюю зарплату в час для групп людей с одни уровнем образования на основе нашей случайной колонки magic_salary

In [ ]:
df['magic_salary'] = np.where(df['income'] == ' <=50K', np.random.randint(0, 51), np.random.randint(51, 201))

average_hourly_salary = df.groupby('education')['magic_salary'].mean() / df.groupby('education')['hours-per-week'].mean()
average_hourly_salary